[Unit]
Description=window strike monitoring service
Wants=sound.target
After=sound.target

[Service]
Type=simple
User=wstrike
ExecStart=/usr/local/bin/wstrike
WorkingDirectory=/var/local/wstrike
Restart=always

[Install]
WantedBy=multi-user.target
